#root {
    height: 100%;
}

html, body {
    height: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

body, div, p, html {
    margin: 0px;
    padding: 0px;
}